p {
    color: #700bea;
    color: #ffffffce;
    color: #ffffffce;
    color: #6f0bea4b;
    color: #6f0bea28;
    color: #6f0bea00;
    color: rgba(255, 255, 255, 0.486);
    /* Old darker font */
    color: #24292e; 
    color: #2c2e31;
    color: rgba(255, 234, 0, 0.89);
}