h1 {
    color: #700bea;
    margin-bottom: 40px;
}

ol {
    // text-align: left;
    li {
        text-align: center;
    }
    
}

ul {
    list-style: none;
}

img {
    margin-bottom: 20px;
}

.hoverPointer:hover{
    cursor: pointer;   
}

a {
    box-shadow: none;
    color: #700bea;
}

.marRSmall{
    margin-right: 10px;
}

.marTSmall {
    margin-top: 10px;
}

.marRMedium{
    margin-right: 25px;
}
