h1 {
    color: #700bea;
    margin-bottom: 40px;
}

ol {
    li {
        text-align: center;
    }
    
}

img {
    margin-bottom: 20px;
}

#noUnderLine{
    text-decoration: none;
}

.phov:hover{
    cursor: pointer;
   
}

a {
    box-shadow: none;
    color: #700bea;
}